.header {
    min-height: 100px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-item {
    margin-right: 30px;
}

.menu-link {
    font-size: 24px;
    text-decoration: none;
    color: black;
    transition: all 0.2s;
}

.menu-link:hover {
    color: red;
}

.main {
    padding-left: 30px;
    padding-right: 30px;
}